<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>tweetServlet</servlet-name>
    <servlet-class>edu.kit.aifb.cass.server.TweetServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>followerServlet</servlet-name>
    <servlet-class>edu.kit.aifb.cass.server.FollowerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tweetServlet</servlet-name>
    <url-pattern>/gwtissandra/tweet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>followerServlet</servlet-name>
    <url-pattern>/gwtissandra/follower</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gwtissandra.html</welcome-file>
  </welcome-file-list>

</web-app>
